# Daily Tithi - Application Environment Configuration
NEXT_PUBLIC_APP_URL="https://dailytithi.com"
VAPID_SUBJECT="mailto:contact@dailytithi.com"

# Web Push API Keys (Generate automatically using: npm run generate-vapid)
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BFtksPslrqWiKgmwNbXvC5TDbAGAcswktRZg8dgdGz6dl4_SHsEMw3XL1uaucS7ZimTAz4Fnbnt1dmqSb19bAFo"
VAPID_PRIVATE_KEY=""

# Vercel Cron Security Secret for Daily Panchang Trigger
CRON_SECRET=""

# Optional Search Engine Verification
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="google2779ca9c3cc8b844.html"
NEXT_PUBLIC_BING_SITE_VERIFICATION=""
